@using Microsoft.AspNetCore.Components.Routing
@using Plot_those_lines.Components.Layout

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Main)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(Main)">
            <p>Page non trouvée.</p>
        </LayoutView>
    </NotFound>
</Router>
