<div>
    <nav>

        <div>
            <NavLink href="/">
                HomePage
            </NavLink>
        </div>

        <div>
            <NavLink href="/SecondPage">
                SecondPage
            </NavLink>
        </div>

    </nav>
</div>
