@page "/chart"
@using ScottPlot
@using ScottPlot.Blazor

<PageTitle>Démographie</PageTitle>

<h1>Démographie de la Suisse</h1>

<p>Nombre de naissances par années.</p>

<BlazorPlot @ref=BlazorPlot Style="width: 600px; height: 400px;" />

<script>

</script>

@code {

    BlazorPlot BlazorPlot { get; set; } = new();

    protected override void OnAfterRender(bool firstRender)
    {
        BlazorPlot.Plot.Add.Signal(Generate.Sin());
        BlazorPlot.Plot.Add.Signal(Generate.Cos());
    }
}