@page "/"

<PageTitle>Home</PageTitle>

<h1>Population</h1>

<p>
    En Suisse vivent 9 millions de personnes, soit trois fois plus qu’au début du XXe siècle. Cela tient en partie à l’importance de l’immigration. Parallèlement, la population suisse vieillit, son espérance de vie est l’une des plus élevées au monde. On observe un afflux de population des zones rurales vers les centres urbains.
</p>

<img src="https://img.freepik.com/free-vector/banner-with-group-smiling-people-standing-together-line-beige-portrait-happy-crowd-persons_90220-143.jpg" alt="Banner with people" />

